.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #ffffff;
}